@model IEnumerable<BasketballApp.Models.PlayerModels.PlayerListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Players</h1>

<p>
    <a class="player-createnew" asp-action="Create">Add Player</a>
</p>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
            <th>
                College
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeName)
            </td>
            <td>
                <a asp-route-ID="@item.ID" asp-action="Edit" class="btn btn-warning">Edit</a>
                <a asp-route-ID="@item.ID" asp-action="Detail" class="btn btn-info">Details</a>
                <a asp-route-ID="@item.ID" asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
