@model BasketballApp.Models.CoachModels.CoachDetail

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Coach</h3>
<div>
    <h5>Are you sure you want to delete this?</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            College
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.College.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="@Model.ID" hidden />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" id="back-to-list">Back to List</a>
    </form>
</div>
