@model BasketballApp.Models.CoachModels.CoachDetail

@{
    ViewData["Title"] = "Detail";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            College
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.College.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" id="back-to-list" class="detail-buttons">Back to List</a>
</div>

<form asp-action="Delete" id="delete-btn" method="post">
    <input asp-for="@Model.ID" hidden />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>