@model IEnumerable<BasketballApp.Models.CoachModels.CoachListItem>

@{
    ViewData["Title"] = "Coach";
}

<h1>Coaches</h1>

<p>
    <a class="coach-createnew" asp-action="Create">Add Coach</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeName)
            </td>
            <td>
                <a asp-route-ID="@item.ID" asp-action="Edit" class="btn btn-warning">Edit</a>
                <a asp-route-ID="@item.ID" asp-action="Details" class="btn btn-info">Details</a>
                <a asp-route-ID="@item.ID" asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
